
__pycache__/dz1_MOPS_Malafeeva.cpython-37.pyc
~$ПС_дз1_Малафеева.docx
s.py
__pycache__/dz1_MOPS_Malafeeva.cpython-37.pyc
*.pyc
*.pyc
__pycache__/dz1_MOPS_Malafeeva.cpython-37.pyc
.DS_Store
Malafeeva_dz1_13_11.zip
ДЗ1_М†Ђ†д••Ґ†/dz1_MOPS_Malafeeva.py
ДЗ1_М†Ђ†д••Ґ†/dz1_MOPS_Malafeeva.py
ДЗ1_М†Ђ†д••Ґ†/Input_Y0toT.txt
ДЗ1_М†Ђ†д••Ґ†/МОПС_§І1_М†Ђ†д••Ґ†.pdf
Malafeeva_dz1_13_11/out_derivatives.txt
Malafeeva_dz1_13_11/out_parameters.txt
Malafeeva_dz1_13_11/Оценки_параметров.png
